{% load thumbnail %}

<section class="container-fluid section-banner-sport-object px-0 mx-0">
    <img src="{% thumbnail sport_club.image 1920x500 %}" alt="">
    <div class="container name-sport-object">
        <div class="row align-items-center h-100 justify-content-end">
            {{ sport_club.name }}
        </div>


    </div>
</section>

<section class="container">
    <div class="container-fluid wrapper-breadcrumbs">
        <div class="container">
            <div class="row breadcrumbs">
                <a href="{{ home_list_url }}">Домашня</a>
                <a href="{{ objects_list_url }}">Спортивні об'єкти</a>
                <a href="{% url 'clubs:ObjectDetail' slug=sport_object.slug %}">{{ sport_object.name }}</a>
                <a href="{% url 'clubs:ClubDetail' object_slug=sport_object.slug slug=sport_club.slug %}">{{ sport_club.name }}</a>
            </div>
        </div>
    </div>
    <div class="wrapper-text">uuu ssssukka
        {{ sport_club.description| safe }}
    </div>
</section>


<section class="container">
    <div class="row">
        <table class="w-100 table-section">
            <thead>
            <tr>
                {% for day in schedule %}
                    <th>{{ day.day_name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for day in schedule %}
                    {% if day.datetime_from and day.datetime_to and day.is_able %}
                        <td>{{ day.datetime_from }}-{{ day.datetime_to }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <form class="form-inline form-section"
              action="{% url "sc_clubs:ClubSubscribe" sport_club.sport_object.slug sport_club.slug %}"
              method="POST">
            {% if is_subscribed %}
                <p> Заявку відправлено</p>
            {% else %}
                {% csrf_token %}
                <div class="form-container">
                <label>Відправити заявку для зворотнього зв'язку: </label>
                <textarea placeholder="Комментар" aria-label="tel" class="form-control mr-sm-2"
                          name="comment"></textarea>
                <button class="btn btn-header my-2 my-sm-0 btn-main-dark" type="submit">Відправити</button>
                </div>
            {% endif %}
        </form>

    </div>
</section>
