{% load cms_tags sekizai_tags static core_extras %}
<!DOCTYPE html>
<html>
<head>
    {% render_block "css" %}
    {% if not meta_title %}
        <title>{% page_attribute "page_title" %}</title>
    {% else %}
        <title>{{ meta_title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

{#  #}{% cms_toolbar %}
{% render_block "js" %}

{% url "clubs:ObjectsList" as objects_list_url %}
{% url "news:NewsList" as news_list_url %}
{% page_url request.current_page as this_url %}
{% url 'pages-root' as home_url %}

<header class="w-100 {% if this_url != home_url %} dark {% endif %} {% if request.user.is_superuser %} authenticated_header {% endif %}"
        id="header">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="{{ home_url }}">KSU SPORT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if objects_list_url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ objects_list_url }}">Sport objects</a>
                    </li>
                {% endif %}
                {% if news_list_url %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ news_list_url }}">News</a>
                    </li>
                {% endif %}
            </ul>
            <div></div>
            <div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'sc_auth:logout' %}?next={{ request.path }}">
                        <p class="btn btn-main-yellow">Вийти з аккаунту {{ request.user.username }}</p>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-main-yellow" data-toggle="modal" data-target="#signIn">
                        Реєстрація/Увійти
                    </button>

                {% endif %}
            </div>

        </div>
    </nav>
</header>
<main>

    {% if not request.user.is_superuser %}
        {% for message in messages %}
            <section class="container-fluid popup-section active red">
                <div class="row justify-content-between mx-0 ">
                    <div class="wrapper-popup-section">
                        {{ message }}
                    </div>
                    <a href="#" class="btn-popup" id="btnPopup"></a>
                </div>
            </section>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}


    {% static_placeholder "Pre-footer" or %}
    {% endstatic_placeholder %}


</main>

<footer class="container-fluid footer-section">
    <div class="container">
        <div class="row justify-content-end">
            Copyright ©2019 ХДУ. Всi права захищенi
        </div>
    </div>
</footer>

{% show_auth_modals %}

</body>
</html>