{% load static menu_tags %}

<section class="container-fluid contact-section row mx-0 px-0" id="contact-section">
    <div class="col-6 px-0">
        <img src="{% static "images/map.png" %}" alt="" class="map-image img-fluid">
    </div>
    <div class="col-6">
        <div class="wrapper-text-contact">
            <div class="wrapper-address">
                <h3>Адреса:</h3> {{ instance.address }}
            </div>
            <div class="">
                <h3>Номер телефону:</h3>
                <a href="tel:+380552226263" class="wrapper-link-contact">{{ instance.phone_number }}</a>
            </div>
            <div class="">
                <h3> Email:</h3>
                <a href="mailto:sport@ksu.ks.ua" class="wrapper-link-contact">{{ instance.email }}</a>
            </div>
        </div>
    </div>
</section>


