{% if slogan %}
    <section class="container-fluid slogan-section">
        <div class="container">
            <div class="row big-text">
                {{ slogan.slogan_text }}
            </div>
        </div>
    </section>
{% endif %}