{% load thumbnail %}


<section class="container news-main-section">
    <div class="row">
        {% if this_url == news_list_url %}
            <div class="container-fluid wrapper-breadcrumbs">
                <div class="container">
                    <div class="row breadcrumbs">
                        <a href="{{ home_url }}">Домашня</a>
                        <a href="{{ news_list_url }}">Новини</a>
                    </div>
                </div>
            </div>
        {% endif %}
        <h2 class="col-12">Новини</h2>
        {% for news in news_list %}
            <div class="wrapper-main-block-news col-12 row mx-0 ">
                <div class="col-4">
                    <a href="{{ news.get_url }}" class="link-object">
                        <img src="{% thumbnail news.image 300x200 %}" alt="">
                    </a>
                </div>
                <div class="col-8">
                    <h3>{{ news.name }}</h3>
                    <p>
                        {{ news.short_description|safe  }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
