{% load thumbnail %}

<section class="container-fluid section-banner-sport-object mx-0 px-0">
    <img src={% thumbnail news.image 1920x500 %} alt="">
    <div class="container name-sport-object">
        <div class="row align-items-center h-100 justify-content-end">
            {{ news.name }}
        </div>
    </div>
</section>

<section class="container">
    <div class="container-fluid wrapper-breadcrumbs">
        <div class="container">
            <div class="row breadcrumbs">
                <a href="{{ home_url }}">Домашня</a>
                <a href="{{ news_list_url }}">Новини</a>
                <a href="{% url 'news:NewsDetail' slug=news.slug %}">{{ news.name }}</a>
            </div>
        </div>
    </div>
    <div class="wrapper-text">
        {{ news.description|safe }}
    </div>
</section>

<!--description -->


