{% load thumbnail %}


{% if news_list %}
    <section class="container news-section" id="news">
        <div class="row">
            <h2 class="col-12 mb-5">Новини</h2>
            <div class="wrapper-news-section row mx-0 ">
                {% for news in news_list %}
                    <div class="wrapper-new-item">
                        <div class="new-item ">
                            <a href="{{ news.get_url }}" class="position-absolute link-object h-100 w-100"></a>
                            <div class="wrapper-img">
                                <img src="{% thumbnail news.image 300x100 %}" alt="">
                            </div>
                            <h4>{{ news.name }}</h4>
                            <p>{{ news.short_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if news_list_url %}
                <a href="{{ news_list_url }}" class="btn btn-main-dark">Всі новини</a>
            {% endif %}
        </div>
    </section>
{% endif %}